PGHOST=rm-postgres.postgres.database.azure.com
PGDATABASE=postgres
PGUSER=ryan.matuszewski@logicmonitor.com
PGPORT=5432
# Get token: az account get-access-token --resource https://ossrdbms-aad.database.windows.net --query accessToken --output tsv
PGPASSWORD=
